.detaile {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0E0D13;

  &__image {
    padding: 32px;
    height: 400px;
    position: sticky;
    top: 0;
    left: 0;
    background-repeat: unset;
    display: flex;
    align-items: flex-start;


    &-header {
      box-sizing: border-box;
      max-width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background-color: #44414E;
      padding: 20px 25px;
    }
  }

  &__button {
    padding: 16px 24px;
    cursor: pointer;
    border: 1px solid transparent;
    background: #44414E;
    border-radius: 14px;
    transition: 0.2s;
    font-size: 18px;
    line-height: 17px;
    font-weight: 500;
    color: #C4C1CF;
    transition: 0.2s;

    svg {
      fill: #C4C1CF;
      transition: 0.2s;
    }

    &:hover svg {
      fill: #E9E6F2;

    }

    &:active {
      color: #FF005C;
      background: #120E20;
      border-color: #FF005C;

      svg {
        fill: #FF005C;
        border-color: #FF005C;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    color: white;
    border-radius: 0 30px 0 0;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.07em;
    margin: 0;
  }

  &__category {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #C4C1CF;
    margin: 0;
  }

  &__ingredients-title {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &__ingredients {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px dotted #C4C1CF;
      position: relative;
      padding: 0;
      margin-bottom: 5px;

      span {
        color: #C4C1CF;
        background-color: #201F2E;
        margin: 0;
        margin-bottom: -5px;

      }
    }
  }

  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #C4C1CF;
  }
}